# Ignore virtual env and build artifacts
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.pkl
*.log
.DS_Store

# Ignore frontend if not needed in backend image
chatbot/
node_modules/
dist/
build/

# Git
.git
.gitignore
